@import "../../theme.less";

.peofile-container {
  .userinfo {
    width: 100vw;
    height: 160rpx;
    background-color: @primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30rpx;
    box-sizing: border-box;

    .userinfo-avatar {
      width: 100rpx;
      height: 100rpx;
      border-radius: 60rpx;
    }

    .userinfo-nickname {
      font-size: 36rpx;
      color: @whiteColor;
      font-weight: normal;
      margin-left: -160rpx;
    }

    .userinfo-detail {
      height: 50rpx;
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        font-size: 26rpx;
        color: @whiteColor;
      }

      .icon {
        margin-left: 20rpx;
        width: 14rpx;
        height: 24rpx;
      }
    }
  }

  .profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24rpx 0;
    border-bottom: 1px solid #efefef;

    .icon-text {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        width: 40rpx;
        height: 40rpx;
        margin: 0 30rpx;
      }

      .text {
        font-size: 30rpx;
      }
    }

    .icon-arraw {
      width: 30rpx;
      height: 30rpx;
      margin-right: 20rpx;
    }
  }
}