/**app.wxss**/
page {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 200rpx 0;
    box-sizing: border-box;
  }

  // 覆盖 vant默认样式 参考(https://github.com/youzan/vant-weapp/blob/dev/packages/common/style/var.less)
}